<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Source+Serif+Pro" rel="stylesheet">			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	


		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/publications">Publications</a></li>
	        		<li><a href="/future">Future</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/news">News</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        	<li><a href="mailto:ppinheirochagas@gmail.com">ppinheirochagas@gmail.com</a></li>
				<li><a href="https://scholar.google.com/citations?user=XVsftdsAAAAJ&hl" target="_blank">Google Scholar</a></li>
				<li><a href="https://github.com/pinheirochagas" target="_blank">GitHub</a></li>
				<li><a href="https://twitter.com/ppinheirochagas" target="_blank">@ppinheirochagas</a></li>
				</ul>
			</footer>
		</body>
	</html>
